.DS_Store
.vscode
__pycache__
wandb
notebooks/Untitled.ipynb
*.ckpt
lightning_logs
data_exploration-checkpoint.ipynb
model_exploration-checkpoint.ipynb
src/LivSim_plusplus/demo_input/
*.pdf
organsync.egg-info
wandb.bkp
.ipynb_checkpoints
dist
*.npy
generated
datasets
/src/data
/notebooks
/experiments/notebooks/wandb
/src/LivSim_plusplus
/data
/LivSim_results
LivSim_results
/cov_tables
/debug.py
/debug2.py
