.DS_Store
.vscode
__pycache__
__init__.py
wandb
data
notebooks/Untitled.ipynb
*.ckpt
lightning_logs
data_exploration-checkpoint.ipynb
model_exploration-checkpoint.ipynb
src/LivSim_plusplus/demo_input/
